body {
  font-family: "UniversLightOblique", Helvetica, sans-serif;
  margin: auto;
  width: 960px;
  background: url('/images/bk.png') repeat;
}

header {
  float: left;
  margin-left: 20px;
  width: 200px;
  text-align: center;
  min-height: 580px;
  background: transparent url("/images/arrow_with_stuff.png") no-repeat 18px 190px;
  position: relative;
  padding-top: 20px;
}

div#main {
  float: left;
  margin-left: 20px;
  width: 450px;
}

footer {
  float: left;
  margin-left: 20px;
  margin-right: 20px;
  width: 220px;
  padding-top: 20px;
}

img.logo {
  width: 166px;
  height: 164px;
}

div#content {
  background-color: black;
  color: white;
  min-height: 500px;
  padding: 20px;
}

div#navigation {
  text-align: left;
  position: absolute;
  right: 17px;
  top: 210px;
}

div.background_pages {
  width: 131px;
  position: absolute;
  right: 17px;
  top: 184px;
  height: 300px;
  background: #eeeeee;

  opacity: 0.4;
  filter:alpha(opacity=40)
}

a.link-to-app {
  text-transform: uppercase;
  background: #222;
  width: 100px;
  color: white;
  display: inline;
  top: 164px;
  position: absolute;
  line-height: 17px;
  text-decoration: none;
  text-align: left;
  padding-left: 15px;
}

div#navigation a {
  display: block;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  width: 112px;
  height: 16px;
  background: #808080;

  font-size: 12px;

  border-style: solid;
  border-width: 2px;
  border-color: #f6f6f6 black black #f6f6f6;

  opacity: 0.7;
  filter:alpha(opacity=70)

  display: inline-block;
  line-height: 16px;
  padding-left: 15px;
}

div#navigation a:hover {
  background: red;
}

body.about       div#navigation a.about,
body.competition div#navigation a.competition,
body.exhibition  div#navigation a.exhibition,
body.index       div#navigation a.index,
body.locations   div#navigation a.locations,
body.preservers  div#navigation a.preservers,
div#navigation a:active {
  background: white;
}

div#social {
  width: 62px;
  height: 65px;
  position: absolute;
  right: 10px;
  top: 500px;
}

div#social a {
  float: left;
}

footer > div {
  background-color: 30%;
  min-height: 100px;
  margin-bottom: 20px;
}

footer > div div.top {
  width: 203px;
  background: url("/images/sbRight-header.png") no-repeat transparent;
  height: 52px;
  position: relative;
}

footer > div div.top h3 {
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 14px;
  display: inline-block;
}


footer > div.news div.content h4 {
  text-transform: uppercase;
}

footer > div div.content h4 {
  background-color: white;

  margin-bottom: 10px;
  margin-left: -10px;
  padding: 2px 6px 1px 10px;
}

footer > div div.content {
  background: url("/images/sbRight-body.png") repeat-y transparent;
  min-height: 28px;
  padding: 10px 17px 20px 10px;
  width: 186px;
}

footer > div div.content p {
  font-size: 12px;
  color: white;
  line-height: 16px;
  width: 180px;
}

footer > div div.bottom {
  width: 203px;
  height: 31px;
  background: url("/images/sbRight-footer.png") no-repeat transparent;
}

