body {
  background: url('/images/bk.png') repeat;
  font-family: "UniversLightOblique", Helvetica, sans-serif;
  margin: auto;
  width: 960px;
}

header {
  margin-left: 20px;
  min-height: 580px;
  padding-top: 20px;
  text-align: center;
  width: 200px;
  position: absolute;
  position: fixed;
}

div#main {
  float: left;
  margin-left: 220px;
  width: 490px;
}

footer {
  margin-right: 20px;
  padding-top: 114px;
  width: 190px;
  position: absolute;
  margin-left: 720px;
}

h1 {
  display: none;
}

.leaderboard h1 {
  display: block;
}

img.logo {
  width: 178px;
  height: 179px;
  right: 17px;
  position: absolute;
}

div#content {
  color: white;
  min-height: 800px;
  padding: 20px;
  padding-top: 45px;
  background: black;
}

.leaderboard div#content {
  background: transparent;
}

div#navigation {
  text-align: left;
  position: absolute;
  right: 17px;
  top: 240px;
}

div.background_pages {
  width: 153px;
  position: absolute;
  right: 17px;
  top: 198px;
  height: 225px;
  background-image: url("/images/eee_40.png");
}

a.link-to-app {
  text-transform: uppercase;
  background: #222;
  width: 100px;
  color: white;
  display: inline;
  top: 164px;
  position: absolute;
  line-height: 17px;
  text-decoration: none;
  text-align: left;
  padding-left: 15px;
}

div#navigation a {
  display: block;
  text-transform: uppercase;
  color: black;
  text-decoration: none;
  width: 134px;
  height: 19px;
  background: #808080;

  font-size: 14px;

  border-style: solid;
  border-width: 2px;
  border-color: #f6f6f6 black black #f6f6f6;

  line-height: 19px;
  padding-left: 15px;
}

div#navigation a:focus,
div#navigation a:hover {
  background: #f16722;
  font-family: "Univers", Helvetica, sans-serif;
}

body.about       div#navigation a.about,
body.contest     div#navigation a.contest,
body.exhibition  div#navigation a.exhibition,
body.leaderboard div#navigation a.leaderboard,
body.locations   div#navigation a.locations,
body.preservers  div#navigation a.preservers,
div#navigation a:active {
  background: white;
  font-family: "Univers", Helvetica, sans-serif;
}

div#social-icons {
  width: 62px;
  height: 65px;
  position: absolute;
  right: 10px;
  top: 500px;
}

div#social-icons a {
  float: left;
}

div#social-actions {
  width: 62px;
  margin: 10px;
  margin-top: 13px;
  bottom:0;
  position: absolute;
}

div#social-actions a#user {
  color: white;
}

footer > div {
  background-color: 30%;
  margin-bottom: 20px;
}

footer > div div.top {
  width: 203px;
  background: url("/images/sbRight-header.png") no-repeat transparent;
  height: 52px;
  position: relative;
}

footer > div div.top h3 {
  text-align: right;
  text-transform: uppercase;
  position: absolute;
  right: 20px;
  top: 17px;
  font-size: 14px;
  display: inline-block;
}


footer > div.news div.content h4 {
  text-transform: uppercase;
}

footer > div div.content h4 {
  background-color: white;

  margin-bottom: 5px;
  margin-left: -10px;
  padding: 2px 6px 1px 10px;

  display: inline-block;
  padding-right: 15px;
}

footer > div div.content h4.last {
  margin-bottom: 10px;
}

footer > div div.content {
  background: url("/images/sbRight-body.png") repeat-y transparent;
  padding: 10px 17px 1px 10px;
  width: 186px;
}

footer > div div.content p {
  font-size: 12px;
  color: white;
  line-height: 16px;
  width: 180px;
  margin-bottom: 12px;
}

footer > div div.bottom {
  width: 203px;
  height: 7px;
  background: url("/images/sbRight-footer.png") no-repeat transparent bottom;
}

footer p a:link,
footer p a:visited,
footer p a:hover,
footer p a:active,
footer p a:focus,
footer p a {
  color: white;
  font-family: "Univers", Helvetica, sans-serif;
  text-decoration: none;
}

footer p a:focus,
footer p a:hover {
  text-decoration: underline;
}

div#content h1 {
  color: #e75405;
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
}

div.title {
  position: relative;
  background: black;
  padding: 15px;
}

div#search {
  position: absolute;
  top: 13px;
  right: 15px;
}

/*********************************
 * Video
 *********************************/
div.video {
  padding: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: black;
}

div.video .player {
}

.video .stats {
  color: black;
  margin-bottom: 10px;
}

.video .stats > div {
  float: left;
  height: 16px;
  line-height: 16px;
  margin-left: 5px;
  padding-left: 5px;
}

.video .stats .time-pos {
  background: #808080;
  width: 180px;
}

.video .stats .location {
  font-family: 'Univers';
  background: white;
  width: 210px;
  font-size: 0.7em;
}

.video .stats .time-pos.winner {
  background: #fdc500;
}

.video .stats .time-pos .winner {
  font-weight: bold;
}

.video .stats .who-when-where {
  color: white;
  font-weight: normal;
  margin-top: 5px;
}

div.video .author {
  color: #e75405;
}

p.title {
  text-transform: uppercase;
}

div.content.tweet div.twitter-follow {
  margin-top: 0;
  margin-bottom: 15px;
}

#content > p {
  margin-bottom: 25px;
}

#content > p.highlight img#timer {
  float: right;
  margin: 15px 0 15px 15px;
}

#content > p.highlight { font-size: 16px; }
#content > p.author { text-align: right; }

div.clear { clear: both; }

#content > ul { padding: 0; }

#content > ul li { margin-bottom: 15px; }

#eyebeam-logo,
#creators-project-logo {
  width: 50%;
}

div.admin {
  position: absolute;
  right: 0;
  top: 50px;
  background-color: white;
}
