<div class="container">
  <p><img src="/images/about.png" align="right" /> Free Fall High Score is the first of a line of antagonistic mobile device
  apps. It encourages you to drop your device from high places in order to
  achieve the longest duration of free fall. The app records a video of the
  fall and uploads it to the global competition page.</p>
</div>
