<h1>About</h1>

<p class="highlight">
  FREEFALL HIGHSCORE IS A SMARTPHONE APPLICATION THAT UNDERMINES THE VERY THING
  THAT WE EXPECT APPS TO DO &mdash; WORK FOR US. The object of the game is to
  drop your phone—the multi&ndash;hundred&ndash;dollar piece of metal and
  plastic that has become our constant companion, secretary, and babysitter—and
  drop it as far as you possibly can without breaking it. Freefall Highscore
  asks you to challenge your own materialism and dependence on technology by
  risking the destruction of something dear to you. It's up to you to make sure
  your phone (and your dignity) survives.

  <img src="/images/timer.png" id="timer" />
</p>

<p>
  If your phone survives an epic fall, the reward isn't just an adrenaline
  rush.  The player&ndash;created protective case becomes a performative
  sculpture. The acrophobic videos shot by the app during the fall are
  trophies, proof that players took a risk and pulled it off. These videos are
  uploaded to YouTube and shared to the internet at large; the chance to go
  viral by leaning out a twentieth&ndash;story window only eggs players on.
</p>

<p>
  Sound scary? It is, but it's also fun. The app has all the markings of a
  normal game. But this one actually works against its players, adding anxiety
  to excitement and physical danger to a platform that is usually totally
  virtual — phones are going to break. The better you play, the more real the
  danger becomes.
</p>

<p>
  There are no extra lives in Freefall Highscore. When you lose, game over is
  permanent.
</p>

<p class="author">Kyle Chayka</p>

<ul>
  <li>CONCEPT AND DIRECTION: James George</li>
  <li>GRAPHIC DESIGN: Helen Mair</li>
  <li>iOS DEVELOPMENT: James George, Maria Mendez, Juan C. M&uuml;ller</li>
  <li>WEB DEVELOPMENT: Juan M&uuml;ller, Logan Best</li>
  <li>ANDROID DEVELOPMENT: Robert Gay, Michael Zick Doherty</li>
  <li>CONCEPT DEVELOPMENT: Caitlin Morris</li>
  <li>
    <a href="http://thecreatorsproject.com" target="_blank"><img src="/images/creators_project2.png" id='creators-project-logo'/></a>
    <br/>
  Produced with support from The Creators Project</li>
  <li>
    <a href="http://eyebeam.org" target="_blank"><img src="/images/eyebeam2.png" id='eyebeam-logo'/></a>
    <br/>
    Incubated at Eyebeam Art+Technology Center
  </li>
</ul>

