<h1>Contest</h1>

<p>
  Freefall Highscore is a mobile application encourages users to discover
  creative ways of recording videos from falling devices. Uploaded through the
  app to your own YouTube Account, the videos are shared here ranked by their
  duration. You can see where your video has been placed on the Freefall
  LEADERBOARD.
</p>

<p>
  <img src="/images/os.png" alt="" width="100px"/>
  <br/>
  <span id="apptag">iOS and Android apps coming soon!</span>
</p>

<p>
  <img src="/images/drop.jpg" alt="" width="100%"/>
</p>
