<div class="container">
  <img src="/images/vests/1.jpg" alt="Protect your phone" height="480" width="640" />
  <img src="/images/vests/ball-phone.jpg" alt="Protect your phone" height="333" width="325" />
</div>
