<div class="news">
  <div class="top">
    <h3>News</h3>
  </div>
  <div class="content">
    <h4>Test drop this weekend</h4>
    <p>Lorem ipsum</p>
    <p>Vinyl retro brunch, helvetica beard vice quinoa scenester wes anderson
    DIY iphone mustache next level keytar. Austin homo marfa PBR. Trust fund
    cred messenger bag lomo tofu, brooklyn food truck. Sartorial +1 messenger
    bag artisan wayfarers. Keytar messenger bag before they sold out retro
    master cleanse. Messenger bag portland shoreditch freegan blog mlkshk,
    lo-fi quinoa salvia. Letterpress vegan marfa skateboard sartorial homo,
    irony artisan blog seitan shoreditch readymade.</p>
  </div>
  <div class="bottom"></div>
</div>
<div class="tweets">
  <div class="top">
    <h3>Tweets</h3>
  </div>
  <div class="content">
    <h4>@juancmuller</h4>
    <p>Hello, world!</p>
  </div>
  <div class="bottom"></div>
</div>
