<div id="headerContainer">
  <a href="#" id="branding">
    <div id="cloudsTop"></div>
  </a>
  <div id="appContainer">
    <div id="appText"></div>
    <a href="javascript:alert('Sooner than you think....');" id="appBtn"></a>
  </div>
</div>
<%= render "/layouts/navigation" %>
