<div class="background_pages">
  <div id="navigation">
    <%= render "/layouts/pages" %>
  </div>
  <%= render "/layouts/social" %>

  <div class="how-to-participate">
    <h4>HOW TO</h4>
    <h4 class="last">PARTICIPATE</h4>

    <p>Have an iPhone? Available for download on Jailbroken iOS through <a href="http://cydia.freefallhighscore.com">Cydia</a></p>
    <p>Have an Android? <a href="https://market.android.com/details?id=com.freefallhighscore.android">Available on Android Market!</a></p>
    <a href="http://cydia.freefallhighscore.com" target="_blank"><img src="/images/apple.png" id="apple" /></a>
    <a href="https://market.android.com/details?id=com.freefallhighscore.android" target="_blank"><img src="/images/android.png" id="android" /></a>
  </div>
</div>

