<div id="navigationContainer"></div>
<div class="navigation">
  <div class="activeNavigation">
    <%= render "/layouts/pages" %>
  </div>
  <%= render "/layouts/pages" %>
</div>

<%= content_for :javascript do %>
  <script type="text/javascript">
    $(function () {
      $(".navigation > .buttonsContainer .naviBtn").click(function () {
        _class = $(this).attr('class');
        _class = _class.replace(/naviBtn|last/g, '').trim();
        _obj = $('.navigation .activeNavigation .buttonsContainer .' + _class);
        _width = $(this).width();
        $(this).addClass('active');

        $(this).css({position: 'absolute'});
        $(this).animate({left: '-535px'}, 1000, function () {
          if (_obj)
          {
            $(this).appendTo(_obj.parent());
            $(this).css({display: 'inline', left: '0', width: _width + 'px' });
          }
          document.location = $(this).attr('href')
        });
        $(".activeNavigation .naviBtn").fadeOut('medium');
        return false;
      });
    });
  </script>
<% end %>
