<div class="buttonsContainer">
  <a class="naviBtn disclaimer last" href="/disclaimer"    >Disclaimer</a>
  <a class="naviBtn events" href="/events"    >Events</a>
  <a class="naviBtn cities" href="/cities"    >Cities</a>
  <a class="naviBtn lifevests" href="/lifevests" >Life Vests</a>
  <a class="naviBtn index" href="/">High Scores</a>
  <div class="clear"></div>
</div>
