<div class="buttonsContainer">
  <a class="naviBtn disclaimer last" href="/disclaimer">Disclaimer</a>
  <a class="naviBtn about" href="/about">About</a>
  <a class="naviBtn lifevests" href="/lifevests">Life Vests</a>
  <a class="naviBtn index" href="/">High Scores</a>
  <div class="clear"></div>
</div>
