<%= link_to "<span>Leaderboard</span>".html_safe, :root, :class => 'index' %>
<%= link_to "<span class='long'>What's this about?</span>".html_safe,         :about, :class => 'about' %>
<%= link_to "<span class='long'>Preservers &amp; Game Over</span>".html_safe, :preservers, :class => 'preservers' %>
<%= link_to "<span class='long'>Where did they fall?</span>".html_safe,       :where, :class => 'where' %>

